@import '_plugins/variable';
.logo{
	position: relative;
	top: 0;
	width: 100%;
	padding: 30px 0;
	.logo-spacer {
		img {
			height: 70px;
		}

		@include media-breakpoint-down(sm) {
			text-align:center;
		}
	}
}

section.banner {
	padding-bottom: 100px;
	padding-top: 150px;
	margin-top: -50px;
	font-family:$body-font;
	background-position: right;
	background-size: auto 100%  ;
	background-repeat: no-repeat;
	background-image: url(/assets/images/bg-banner.jpg);

	@include media-breakpoint-down(sm){
		padding-top: 70px;
	}

	.banner-text {

		clear: both;
		max-width: 400px;
		h1 {
			font-size:42px;
			font-weight: 800;
			color: #414141;
		}
	}
	.get-email {
		form {
			max-width: 500px;
			background: #fff;
			overflow: hidden;	
			border-radius: 3px;
			@include box-shadow(0px 4px 20px 0px rgba(0,0,0,.1));
			input{
					font-size: 14px;
					padding: 15px 15px !important;
					width: calc(100% -  100px);
					@include normal-button();
					color: $grey;

				&::-webkit-input-placeholder{
					color:$grey;
					
				}
			}

			button{
				float: right;	
				font-size: 14px;
				padding: 15px;

			}
		}
	}
	.find {
		.find-text {
			font-size: 15px;
			color: #222222;

		}
		ul {
			@include media-breakpoint-down(sm) {
     			display: inline-block;
			}

			li {
				list-style: none;
				float: left;
				display: block;
				width:40px;
				margin: 0px 10px;
				height: 40px;
				box-sizing:border-box;
				padding: 8px;
				border-radius: 100%;
				background: #fff;
				@include transition(.2s ease);
				@include transition(.3s ease);
				&:hover {
					@include box-shadow(0px 5px 30px 0px rgba(0,0,0,.1));
					background: #DA0000;
					img {
						@include filter(invert(157) grayscale(136) brightness(19));
					}
				}
				&:first-child {
					margin-left: 0px;
				}
				@include box-shadow(0px 4px 20px 0px rgba(0,0,0,.1));
				img {
					width:100%;
					position: relative;
					top: -2px;


				}
			}
		}
	}
}



@media screen and(min-width: 1440px)
{


section.banner{

background-size:60% auto; 
}


}
