@import '_plugins/variable';
html,
body {
	font-family: $body-font;
	background-color: #FCFAFB !important;
	@include overflow-x(hidden);
}

.form-control {
	border-radius: 3px;
	overflow: hidden;
	padding: 22px;
	font-size: 14px;
	@include appearance(none);
	resize: none;
	@include box-shadow(0px 5px 10px 0px rgba(0, 0, 0, .08));
	border: 1.2px solid #fff;
	&.error {
		border-color: #DA0000;
	}
	&::-webkit-input-placeholder {
		color: #999999;
		font-size: 14px;
	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999999999;
	width: 100%;
	@include overflow-x(hidden);
	@include transition(.4s ease);
	&.index {
		background: #fff;
		nav {
			padding-top: 5px !important;
			padding-bottom: 5px !important
		}
	}
	nav {
		@include transition(.4s ease);
	}
	&.scroll,
	.index {
		@include box-shadow(0 2px 4px rgba(0, 0, 0, .04));
		background: #fff;
		nav {
			padding-top: 0px !important;
			padding-bottom: 0px !important;
		}
		.navbar-brand {
			img {
				min-height: 60px !important;
				min-width: 60px !important;
			}
		}
	}
	.navbar-brand {
		img {
			min-height: 70px;
			min-width: 70px;
			display: block;
			@include transition(.4s ease);
		}
	}
	.navbar-light .navbar-nav .nav-item {
		&:last-child {
			padding-right: 0px !important;
			padding-left: 20px;
		}
		.nav-link {
			position: relative !important;
			&.active {
				color: $red;
				&:after {
					content: "";
					background: $red;
					height: 2.3px;
					width: 30px;
					display: block;
					position: absolute;
					bottom: -6px;
					left: 15px;
				}
			};
			padding-left: 15px !important;
			font-weight: 550;
			color: #666666;
			padding-right: 15px !important;
		}
	}
}

section.contact {
	margin-top: 200px;
	padding-bottom: 80px;
	ul {
		li {
			list-style: none;
			clear: both;
			padding: 20px 0px;
			&:first-child {
				padding-top: 0px;
			}
			h2 {
				font-size: 32px;
				font-weight: 550;
			}
			.icon {
				max-width: 100px;
				padding-top: 20px;
				img {
					width: 28px;
					height: auto;
				}
			}
			.text {
				p {
					font-weight: 550;
					font-style: 14px;
				}
			}
		}
	}
	.icon-list {
		ul {
			li {
				float: left !important;
				clear: unset;
				background: #fff;
				display: block;
				padding: 10px;
				margin: 0px 8px;
				@include transition(.2s ease-in-out);
				@include box-shadow(0px 2px 8px 0px rgba(0, 0, 0, .1));
				&:hover {
					background: #DA0000;
					@include box-shadow(0px 4px 20px 0px rgba(0, 0, 0, .1));
					img {
						@include filter(invert(157) grayscale(136) brightness(19));
					}
				}
				&:first-child {
					margin-left: 0px;
				}
				img {
					height: 26px;
					width: 26px;
				}
			}
		}
	}
}

@media screen and(max-width: 767px) {
	.title {
		font-size: 32px !important;
	}
	header {
		background: #fff;
		@include box-shadow(0px 5px 10px 0px rgba(0, 0, 0, .08));
		nav:not(.scroll) {
			padding-top: 0px !important;
			padding-bottom: 0px !important;
			ul {
				padding-bottom: 15px;
				li {
					a.btn {
						margin-top: 10px;
						margin-left: 20px;
					}
				}
			}
		}
		.navbar-brand {
			img {
				min-height: 60px !important;
				min-width: 60px !important;
			}
		}
	}
}

.title {
	font-style: 40px;
	font-weight: bold;
}

p {
	font-size: 14px;
	margin-top: 20px;
}

section.banner {
	padding-top: 80px;
	.carousel-indicators {
		bottom: 40px;
		li {
			height: 10px;
			width: 10px;
			display: block;
			margin: 0px 5px;
			border-radius: 100%;
		}
	}
	.carousel-controll-button {
		opacity: 0;
		@include transition(.2s ease);
	}
	&:hover {
		.carousel-controll-button {
			opacity: 1;
		}
	}
	.slide-innner {
		min-height: 600px;
		position: relative;
		img {
			position: absolute;
			width: 100%;
			object-fit: cover;
			top: 0;
			left: 0;
			height: 100%;
		}
	}
	.slide-data {
		position: relative;
		padding-top: 160px;
		z-index: 99;
		.banner-text {
			max-width: 750px;
			margin: 0 auto;
		}
	}
}

section.about {
	.text-container {
		max-width: 550px;
	}
}

section.product {
	.card-title {
		font-size: 18px;
		font-weight: bold;
	}
	.card-text {
		font-style: 14px;
		text-align: justify;
	}
	.card {
		border: 1px solid #AAAAAA;
		border-radius: 0px !important;
		.card-header,
		.card-header:first-child {
			height: 300px;
			overflow: hidden;
			border-radius: 0px !important;
			border: 0px solid transparent !important;
			img {
				object-fit: cover;
				height: 100%;
			}
		}
		@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, .08));
		@include transition(.4s ease);
		&:hover {
			@include box-shadow(0px 3px 20px 0px rgba(0, 0, 0, .08));
			border-color: $red;
		}
		.card-body {
			@include transition(.4s ease);
			min-height: 130px;
		}
	}
}

section.contact-us-index {
	background-image: url(/assets/images/contact-bg.png);
	background-position: center;
	background-size: cover;
}

footer {
	background: var(--white);
	padding: 40px 0;
	color: #333;

	a,
	span {
		text-decoration: none;
		color: #222222;
		font-style: 14px;
	}

	.brand {
		img {
		    max-width: 130px;
		}
	}

	.copyright {
		clear: both;
		font-weight: 550;
    	text-align: center;
    	padding: 20px 0;
	}

	.list-parent {
		float: left;
		padding: 0px 15px;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0px;
		}
	}
	.disabled.text-med-grey {
		color: #333333 !important;
		font-weight: bold;
		cursor: unset !important;
		opacity: 1;
	}
	ul {
		li {
			list-style: none;
			padding: 0px 0;
			a {
				padding-top: 10px !important;
				padding-bottom: 6px !important;
				font-size: 14px !important;
			}
		}
		li:not(.icon) {
			list-style: none;
			position: relative;
			&:after {
				display: block;
				content: "";
				position: absolute;
				left: 10px;
				top: 15px;
				background: $red;
				height: 8px;
				width: 8px;
				border-radius: 100%;
			}
		}
	}
	.parent-list {
		float: none !important;
		width: auto !important;
		max-width: auto;
	}
	.icon {
		img {
			width: 28px;
			height: auto;
		}
	}
	.footer-icon {
		width: 250px;
		float: left;
	}
	.footer-list {
		float: left;
		width: calc(100% - 250px);
	}
}

//about page
section.list-feature
{
	.card{
		background: transparent !important;
		max-width: 280px;
		border-radius: 0px !important;
		float: left;
		padding:15px 15px;
		@include transition(.3s ease-in-out);
		&:hover{
			background: #fff !important;
		@include box-shadow(0px 5px 30px 0px rgba(0,0,0,.1));
		}
		img{
			min-width: 50px;
		}
		h2{
			font-size: 18px;
			font-weight: 550 !important	;
		}
		p{
			line-height: 1.6;
			font-size: 14px;
		}
	}
}

section.about-about-page
{
	.container-spacer
	{
		width: calc(100% + 70px);
		position: relative;
		padding: 40px 30px;
		z-index: 9;
		min-height: 400px;
		background: #fff;
		display: block;
		@include box-shadow(0px 0px 20px 0px rgba(0,0,0,.1));
	}
}



@media screen and(max-width: 991px) {
	.navbar-nav {
		padding-bottom: 15px;
		li {
			a {
				&:after {
					display: none !important;
				}
			}
			a.btn {
				margin-left: 15px;
			}
		}
	}
	footer {
		.footer-icon {
			width: 100%;
			padding-bottom: 40px;
		}
		.footer-list {
			width: 100%;
		}
		.list-parent {
			float: left;
			padding: 0px 0px;
			&:first-child {
				padding-left: 0px;
			}
			&:last-child {
				padding-right: 0px;
			}
			.icon {
				a {
					padding-left: 0px !important;
					padding-right: 0px !important;
				}
			}
		}
	}
}

@media screen and(max-width: 767px) {
	section.material {
		.coma {
			img {
				opacity: 0;
			}
		}
	}
	.text-sm-center {
		text-align: center;
	}
	.btn-to-center {
		margin: 0 auto;
		position: relative;
		max-width: 200px;
		clear: both;
	}
	section.contact-us-index {
		.clearfix {
			display: flex;
			justify-content: center;
		}
	}
	section.banner {
		padding-top: 70px;
		.slide-data {
			padding-top: 100px;
		}
	}
	section:not(.banner) {
		padding-top: 0px !important;
		margin-top: 0px !important;
	}
}

@media screen and(max-width: 550px) {
	footer .list-parent,
	footer .list-parent:first-child {
		width: 100%;
		padding: 0px 10px;
	}
	footer .footer-icon {
		padding-left: 10px;
	}
	section.contact ul li .text p {
		font-size: 12px !important;
	}
	footer {
		.text-contact {
			text-align: center;
			font-size: 12px !important;
			span:not(:first-child) {
				padding-left: 10px !important;
				margin-left: 0px !important;
			}
		}
	}
}