$font-family-sans-serif  : 'Lato', sans-serif;
$theme-colors: (
  "primary": #DA0000,
  "secondary": #F28204,
  "grey" : #414141,
  "semi-grey":#999999,
  "min-grey" : #AAAAAA,
  "med-grey" :#333333,
  "white" : #ffffff,
  "none": rgba(0,0,0,0.0),
);


@import "~bootstrap/scss/bootstrap";
@import 'mixin';
.btn-primary{
	background:#DA0000;
	border-color:#DA0000;
	@include transition(.3s ease-in-out);
	&:hover{
		@include box-shadow(0px 2px 10px 0px rgba(0,0,0,.1));
		background-color: #C20000;
		border-color: #C20000;

	}
}
header .navbar-light .navbar-nav .nav-item .nav-link
{
	font-size: 14px !important
}

.btn
{
	padding: 12px 40px;
	font-size: 13px;
	font-weight: 550;
}

$body-font : 'Lato', sans-serif;
$red : #DA0000;
$grey:#999999;

.lato{
	font-family: $body-font;
}

.btn-red{
	background: $red;
}
.text{
	color: #222222;
}
body{
	background: #FCFAFB;
}

@media screen and(max-width: 767px)
{
	.col-order-1{
		order:1;
	}
	.col-order-2{
		order:2;
	}
}


